<!DOCTYPE html>
<html lang="en-us">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="author" content="Anderson B.O.B">
   <meta name="description" content="Author: Anderson B.O.B Author">
   <link rel="icon" type="image/x-icon" href="../static/assets/imgs/favicon.ico">
   <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/" defer>
   <link rel="stylesheet" type="text/css" href="../static/assets/css/eusouanderson.css" >
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
   <title>i'm anderson</title>

</head>
<!-- page body -->

<body id="position-static" class="dark-theme">
   <header class="header">
      <!-- 
      <nav class="page-navbar" data-offset-top="0">

         <div class="affix" aligne="center" data-anime="rigth">
            <ul>
               <li><a href="#about" class="bt1" id="button_1">About</a></li>
               <li><a href="#skills" class="bt1" id="button_2">Skills</a></li>
               <li><a href="#certificate" class="bt1" id="button_3">Certificates</a></li>
               <li><a href="#work" class="bt1" id="button_4">Works</a></li>
               <li><a href="#contact" class="bt1" id="button_5">Contact</a></li>
            </ul>
         </div>
      </nav>
      </div> page navbar -->
      Under development...
      <div class="overlay"></div>
      <div class="header-content">
         <h1>
            i'm Anderson
         </h1>
   </header>
   <section class="container" id="quemsoueu" data-anime="up">
      <h4 data-anime="rigth">About Me</h4>
      <p>
          I am a dedicated and determined backend programmer, with over 20 years of experience, specialized in various types of APIs and database management. I have strong experience in creating websites using Vue.js, React.js, and Next.js, as well as expertise in Python, JavaScript, Rust, C#, and C++. Throughout my career, I have demonstrated a strong commitment to excellence and continuously sought to refine my skills to meet the ever-evolving demands of the industry.
      </p>
  
      <h4 data-anime="left">My Journey and Work Ethic</h4>
      <p>
          Throughout my journey, I have faced challenges and overcome obstacles, always with the conviction that the effort would be worth it. With determination, I sought knowledge and seized every opportunity that came my way. I have worked various jobs, balancing them with my studies, to contribute to my family and invest in my education.
      </p>
  
      <h4 data-anime="left">Portfolio</h4>
      <p>
          My portfolio reflects my journey of growth and overcoming challenges. I present projects that demonstrate my skills, knowledge, and achievements over time. I am constantly seeking to expand my skill set and stay updated with market trends and innovations.
      </p>
  
   <br/>
   <section class="container" id="skills">
      <p>
      <h2>Frontend </h2>
      </p>
      <div class="front" align="center" data-anime="left">
         <table>
            <tr>
               <td><a href="https://www.w3schools.com/css/" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/css3-original-wordmark.svg" alt="CSS3"
                        width="40" height="50"></td>
               <td><a href="https://en.wikipedia.org/wiki/HTML5" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/html5-original-wordmark.svg" alt="HTML5"
                        width="40" height="50"></td>
               <td><a href="https://docs.python.org/3/library/tkinter.html" target="_blank"><img style="margin: 10px"
                        src="https://upload.wikimedia.org/wikipedia/commons/4/41/Tcl.svg" alt="TkInter" width="40"
                        height="50"></td>
               <td><a href="https://www.javascript.com/" target="_blank"><img style="margin: 10px"
                        src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/javascript/javascript.png"
                        
                        alt="javascript" width="35" height="50"></td>

            </tr>
         </table>
      </div>
      <h2>Backend</h2>
      <div class="front" align="center" data-anime="rigth">
         <table>
            <tr>
               <td><a href="https://selenium-python.readthedocs.io/" target="_blank"><img style="margin: 10px"
                        src="https://selenium-python.readthedocs.io/_static/logo.png" alt="Selenium" width="40"
                        height="50" /></td>
               <td><a href="https://www.mongodb.com/" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/mongodb-original-wordmark.svg" alt="MongoDB"
                        width="40" height="60" /></td>
               <td><a href="https://nodejs.org/" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/nodejs-original-wordmark.svg" alt="Node.js"
                        width="40" height="80" /></td>
               <td><a href="https://www.python.org/" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/python-original.svg" alt="Python" width="40"
                        height="50" /></td>
            </tr>
         </table>
      </div>
      <br />
      <div class="front" align="center" data-anime="left">
         <table>
            <tr>
               <td><a href="https://www.djangoproject.com/" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/django-original.svg" alt="Django" width="35"
                        height="80" /></td>
               <td><a href="https://www.mysql.com/" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/mysql-original-wordmark.svg" alt="MySQL"
                        width="35" height="80" /></td>
               <td><a href="https://www.docker.com/" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/docker-original-wordmark.svg" alt="Docker"
                        width="35" height="60" /></td>
               <td><a href="https://flask.palletsprojects.com/" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/flask.png" alt="Flask" width="35"
                        height="60" /></td>
            </tr>
         </table>
      </div>
      <h2>Tools</h2>
      <div class="front" align="center" data-anime="left">
         <table>
            <tr>

               <td><a href="https://octave.org/" target="_blank"><img style="margin:10px"
                        src="https://octave.org/img/octave-logo.svg" alt="GNU OCTAVE" width="35" height="50" /></td>
               <td><a href="https://docs.microsoft.com/en-us/powershell/" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/powershell.png" alt="PowerShell" width="35"
                        height="50" /></td>
               <td><a href="https://www.adobe.com/in/products/aftereffects.html" target="_blank"><img
                        style="margin: 10px" src="https://profilinator.rishav.dev/skills-assets/aftereffects.png"
                        alt="After Effects" width="30" height="50" /></td>
               <td><a href="https://www.adobe.com/in/products/photoshop.html" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/photoshop-plain.svg" alt="Photoshop"
                        width="35" height="50" /></td>
               <td><a href="https://www.adobe.com/in/products/photoshop.html" target="_blank"><img style="margin: 10px"
                        src="https://dbeaver.io/wp-content/uploads/2015/09/beaver-head.png" alt="Beaver" width="35"
                        height="50" /></td>
            </tr>
         </table>
      </div>
      <br />
      <div class="front" align="center" data-anime="rigth">
         <table>
            <td><a href="https://www.adobe.com/in/products/indesign.html" target="_blank"><img style="margin: 10px"
                     src="https://profilinator.rishav.dev/skills-assets/adobeindesign.svg" alt="Adobe InDesign"
                     width="35" height="35" /></td>
            <td><a href="https://www.adobe.com/in/products/illustrator.html" target="_blank"><img style="margin: 10px"
                     src="https://profilinator.rishav.dev/skills-assets/adobe_illustrator-icon.svg" alt="Illustrator"
                     width="35" height="35" /></td>
            <td><a href="https://matplotlib.org/" target="_blank"><img style="margin: 10px"
                     src="https://matplotlib.org/_static/images/logo2.svg" alt="matplotlib.org" width="60"
                     height="35" /></td>

         </table>
      </div>
      <br />
      <div class="front" align="center" data-anime="left">
         <table>
            <tr>
               <td><a href="https://www.javascript.com/" target="_blank"><img style="margin: 10px"
                        src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt="Bootstrap"
                        width="35" height="50"></td>
               <td><a href="https://www.gnu.org/software/bash/" target="_blank"><img style="margin: 10px"
                        src="https://profilinator.rishav.dev/skills-assets/gnu_bash-icon.svg" alt="Bash" width="35"
                        height="50" /></td>
               <td><a href="https://aws.amazon.com/" target="_blank"><img
                        src="https://profilinator.rishav.dev/skills-assets/amazonwebservices-original-wordmark.svg"
                        alt="AWS" width="60" height="35" /></td>
               <td><a href="https://www.linux.org/" target="_blank"><img
                        src="https://profilinator.rishav.dev/skills-assets/linux-original.svg" alt="Linux" width="35"
                        height="35" /></td>
               <td><a href="https://www.arduino.cc/" target="_blank"><img
                        src="https://profilinator.rishav.dev/skills-assets/arduino.png" alt="Arduino" width="35"
                        height="35" /></td>
         </table>
      </div>
      <br />
      <div class="front" align="center" data-anime="rigth">
         <table>
            <tr>
               <td><a href="https://cloud.google.com/" target="_blank"><img
                        src="https://profilinator.rishav.dev/skills-assets/google_cloud-icon.svg" alt="GCP" width="35"
                        height="35" /></td>
               <td><a href="https://github.com/" target="_blank"><img
                        src="https://profilinator.rishav.dev/skills-assets/git-scm-icon.svg" alt="Git" width="80"
                        height="35" /></td>
               <td><a href="https://www.raspberrypi.org/" target="_blank"><img
                        src="https://profilinator.rishav.dev/skills-assets/raspberrypi.png" alt="Raspberry Pi"
                        width="35" height="35" /></td>
               <td><a href="https://www.android.com" target="_blank"><img
                        src="https://freepngimg.com/thumb/android/127007-logo-android-pic-download-hd.png" alt="Android"
                        width="80" height="35" /></td>
               <td><a href="https://www.render.com" target="_blank"><img
                  src="https://ml.globenewswire.com/Resource/Download/19618237-eb42-4ed2-b7a1-1f56419d1279?size=3" alt="Render"
                           width="80" height="35" /></td>
               <td><a href="https://neocities.org/" target="_blank"><img src="https://neocities.org/img/cat.png"
                        alt="Android" width="40" height="40" /></td>
            </tr>
         </table>
      </div>
   </section>
   <br/>
   <section class="container" id="certificato" data-anime="up">

      <h2>My Certification Set </h2>
      <img src=https://hermes.digitalinnovation.one/assets/diome/logo.svg alt=DIO height="100" width="180" />

      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/14E9CE76" cer_id=22"
            target="_blank">Acceleration Test Automation #TQI</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/49BF3680" cer_id=22"
            target="_blank">Types of tests and automation strategies</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/68126696" cer_id=22"
            target="_blank">API automation with Rest Assured and Kotlin</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/BE2C3226" cer_id=22"
            target="_blank">Mobile automation with Appium</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/D422208F" cer_id=22"
            target="_blank">QA's role in an agile team</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/10354660" cer_id=22"
            target="_blank">Performance Test Automation with Gatling</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/4135CD2E" cer_id=22"
            target="_blank">Introduction to the Linux Operating System</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/1B0F3BB2" cer_id=22"
            target="_blank">Creating Your First Repository on GitHub to Share Your Progress</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/90C03DB9" cer_id=22"
            target="_blank">Introduction to Git and GitHub</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/A6D6FCD7" cer_id=22"
            target="_blank">Introduction to Programming and Computational Thinking</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/0D499AA1" cer_id=22"
            target="_blank">Introdução ao Desenvolvimento Moderno de Software</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/84A5B1BB" cer_id=22"
            target="_blank">Introduction to Modern Software Development</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/0E08DB03" cer_id=22"
            target="_blank">Discover DIO's Opportunities</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/EB610E8F" cer_id=22"
            target="_blank">Applying the REST Architectural Style with Node.js</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/AFCD1175" cer_id=22"
            target="_blank">Introduction to programming with Python</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/E9D1DFF6" cer_id=22"
            target="_blank">Introduction to Data Science</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/1FF04A57" cer_id=22"
            target="_blank">Hands-On Challenge: Introduction to Flask Testing</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/28C90DFF" cer_id=22"
            target="_blank">Hands-on challenge: Extracting data from the web with Python</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/B800BDDB" cer_id=22"
            target="_blank">ETL fundamentals with Python</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/EC703C76" cer_id=22"
            target="_blank">Creating Your Development Environment in Python</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/77235813" cer_id=22"
            target="_blank">Adding Security to a REST API with Spring Security</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/A07BC099" cer_id=22"
            target="_blank">Installing and Configuring Visual Studio Code</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/F962FEDF" cer_id=22"
            target="_blank">Introduction to IDEs and .NET Environment Configuration</a></div>
      <div><a class="link_certificado" href="https://certificates.digitalinnovation.one/6280A655" cer_id=22"
            target="_blank">Tech Career: How to Decide Between Front-end, Back-end and Fullstack</a></div>
      <div><a class="link_certificado" href="" target="_blank">Advancing with Deep Learning</a></div>
      <div><a class="link_certificado" href="" target="_blank">Introduction to the Internet of Things</a>
         <div>
      <div><a class="link_certificado" href="" target="_blank">[FULLSTACK JOURNEY] Backend with NodeJs and Express
      (Part 1)</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">Virtual Voice Assistant in Bixby - Bringing Intelligence to the Interface</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">[FULLSTACK JOURNEY] Backend with NodeJS and Express (Part 2)</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">[FULLSTACK JOURNEY] Backend and Database Lab with MongoDB</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">No-code prototyping of digital solutions (Part 1)</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">[FULLSTACK JOURNEY] Integrating cloud backend services</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">[FULLSTACK JOURNEY] Frontend Web with ReactJS: Introduction (Part 1)</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">Python Language: Learning the Language (Part 1)</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">Agile Development - DevOps Docker</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">Introduction to Wearables</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">[FULLSTACK JOURNEY] Frontend Web with ReactJS: Introduction(Part 2)</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">Watch Face Studio com Wear OS</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">Python Language: Learning the Language (Part 2)</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">IoT Lab with Arduino</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">[FULLSTACK JOURNEY] Web Frontend with ReactJS: Backend Integration (Part1)</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">Python Language: Learning the Language (Part 3)</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">Ocean Talk: “The New Era of Foldable Smartphones”</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">Querying SQL Databases with Python (Part1)</a>
      <div>
      <div><a class="link_certificado" href="" target="_blank">Querying SQL Databases with Python (Part2)</a>
      <div>
      </div>
      </section>
   <br/>
   <section class="container" id="work" data-anime="up">
      <h2>Construction work</h2>
      <div class="area-de-trabalhos">
         <div class="item-de-trabalho">
            
            <a href="https://github.com/eusouanderson/SystemMonitorX" target="_blank">
            
            <h3>SystemMonitorX</h3>
            <p>SystemMonitorX is a PC performance monitoring program that allows you to track and analyze important system metrics in real time.</p>
            </a>
         </div>
         <div class="item-de-trabalho">
            <a href="https://github.com/eusouanderson/construtor" target="_blank">
            
            <h3>Constructor</h3>
            <p>When you run the Builder, it will automatically create the required file and directory structure, allowing you to start developing your project quickly and neatly.</p>
            </a>
         </div>
         <div class="item-de-trabalho">
            <a href="https://github.com/eusouanderson/bate-papo" target="_blank">
            
            <h3>Bate Papo</h3>
            <p>A virtual environment for real-time communication through an online platform</p>
            </a>
         </div>
         <div class="item-de-trabalho">
            <a href="https://github.com/eusouanderson/orange" target="_blank">
            
            <h3>Orange</h3>
            <p>Program to optimize and speed up PC performance in games.</p>
            </a>
         </div>
         <div class="item-de-trabalho">
            <a href="https://github.com/eusouanderson/limao" target="_blank">
            
            <h3>Lemon</h3>
            <p>Merchant Inventory Control</p>
            </a>
         </div>
         <div class="item-de-trabalho">
            <a href="https://github.com/eusouanderson/game-robot" target="_blank">
            
            <h3>Game Robt</h3>
            <p>Welcome to the world of Game Robt, an exciting 2D game that will challenge your skills and strategies.</p>
            </a>
         </div>
         <div class="item-de-trabalho">
            <a href="https://github.com/eusouanderson/tortuga-translat" target="_blank">
            
            <h3>Tortuga Translate</h3>
            <p>Universal Translation Program Tortuga Translate is a GUI creation with Tkinter and Canvas.</p>
            </a>
         </div>
         <div class="item-de-trabalho">
            <a href="https://github.com/eusouanderson/Dashboard-flask" target="_blank">
            
            <h3>Dashboard Flask</h3>
            <p>This is a web dashboard project developed using the Flask framework and the Bootstrap front-end framework.</p>
            </a>
         </div>
      </div><!--https://github.com/eusouanderson/tortuga-translat/blob/main/img/tortuga.gif?raw=true https://github.com/eusouanderson/Dashboard-flask/blob/main/dash.gif?raw=true-->
   </section>
   <br/>
   <section class="container" id="contact" data-anime="up">
      <h2>Contact</h2>
      <p>Send to message!</p>
      <form action="https://formsubmit.co/eusouanderson@outlook.com" method="POST">
         <input type="text" name="name" class="form-control" placeholder="Name: " required>
         <input type="email" name="email" class="form-control" placeholder="Email: " required>
         <input type="hidden" name="_next" value="#about">
         <textarea name="comment" id="comment" rows="6" class="form-control" placeholder="Your message"></textarea>
         <input type="hidden" name="_subject" value="New submission!">
         <input type="submit" value="Enviar" class="form-control">
         <input type="hidden" name="_captcha" value="false">
         <input type="hidden" name="_next" value="https://yourdomain.co/successo.html">
      </form>
   </section>
   <br/>
   <section class="container" id="footer" data-anime="left">
      <img src="https://avatars.githubusercontent.com/u/55605767?s=96&v=4" alt="Avatar" width="55" height="50">
      <script>document.write(new Date().getFullYear())</script>
      , Made with <i class="ti-heart text-danger"></i> by
      <a class="bt1" href="https://github.com/eusouanderson">B.O.B </a>
      <p>{{ date }}</p>
      </div>
      </footer>
      <!-- eusouanderson js -->
      <script src="../static/assets/js/eusouanderson.js">
      </script>
   </section>
   <br/>
</body>

</html>