<!DOCTYPE html>
<html lang="en-us">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="author" content="Anderson">
      <title>i'm anderson</title>
      <link rel="stylesheet" href="assets/css/eusouanderson.css" defer>
   </head>
   <body id="home" class="dark-theme">
    
      </nav>
      <b class="nav-link"></b>
   <header class="header">
      <div class="overlay"></div>
      <div class="header-content">
      <h1 class="header-title">Message sent successfully</h1>
      <p > </p>
      </div>
   </header>

         <!-- footer -->
   <section class="container" id="footer" data-anime="left">
      <!-- footer -->
      <footer class="container" >
         <div class="links">
            <img src= "https://avatars.githubusercontent.com/u/55605767?s=96&v=4" alt="Avatar" width="55" height="50" >
         <script>document.write(new Date().getFullYear())</script>
         , Made with <i class="ti-heart text-danger"></i> by 
         <a class="bt1" href="https://github.com/eusouanderson">B.O.B </a>
      </div>
      </footer>
      <!-- core  -->
      <script src="assets/vendors/jquery/jquery-3.4.1.js" defer></script>
      <!-- bootstrap affix -->
      <script src="assets/vendors/bootstrap/bootstrap.affix.js" defer></script>
      <!-- eusouanderson js -->
      <script src="assets/js/eusouanderson.js" defer></script>
   </section>
   </body>
</html>